*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#cecb00;
    --sec-color:rgb(211, 0, 0);
    --main-color:rgb(255, 255, 255);
}
body{
    background-color: var(--main-color);
    color: var(--sec-color) ;
    font-size: 19px;
}
img{
    width: 100%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem auto;
}
.search-form{
    margin: 1.6rem auto;
    display: flex;
}

a, .search-btn{
    border-radius: 20px;
    box-shadow: 1px 3px 3px #030303, -1px -2px 3px #030303;
    background-color: var(--sec-color);
    color: var(--primary-color);
    font-weight: bold;
    padding: .9rem 2rem;
    border: none;
    text-align: center;
}
a{
    text-decoration: none;
    width: 50%;
    margin: .5rem auto;
}
a:hover, .search-btn:hover{
    color: var(--primary-color);
    background-color: var(--sec-color);
}

.search-btn:active{
    transform: scale(.9);
}
.search-bar{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: inset 1px 3px 3px #030303, inset -1px -2px 3px #030303 ;
    padding: 1rem;
    outline: none;
}

.recipes{
    display: flex;
    width: 90%;
    padding: 1rem;
    margin: 1rem auto;
}
.recipe{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 400px;
    text-align: center;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow:  1px 1px 1px #030303,  -1px -1px 1px #030303 ;
}

@media (max-width:789px) {
    .recipes{
        flex-direction: column;
    }
}